// Per-process resource requests. Adjust to your executor.

process {
    cpus   = 2
    memory = '4.GB'
    time   = '4.h'

    errorStrategy = 'retry'
    maxRetries    = 1

    withLabel: process_low {
        cpus   = 1
        memory = '2.GB'
        time   = '2.h'
    }
    withLabel: process_medium {
        cpus   = 4
        memory = '8.GB'
        time   = '8.h'
    }
}
